//
//  App-iOS-Release.xcconfig
//  App-iOS
//
//  Copyright © 2015 Sky UK. All rights reserved.
//

// MARK: BUILD OPTIONS
// MARK: Debug Information Format
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
// MARK: Validate build project
VALIDATE_PRODUCT = YES
// MARK: Product Name
PRODUCT_NAME = $(TARGET_NAME)

// MARK: - APPLE LLVM 7.0 - PREPROCESSING
// MARK: Enable Foundation Assertions
ENABLE_NS_ASSERTIONS = NO

// MARK: -
// MARK: USER-DEFINED
MTL_ENABLE_DEBUG_INFO = NO