<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Core-TV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Core-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20200CA41BE0C75400DB893E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20200CAD1BE0C75400DB893E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE6FBAC1BD1595000594649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE6FBB51BD1595000594649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFD29141BD12FBB000067CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEFD291E1BD12FBB000067CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
